
.dashboardPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .texts{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        gap: 50px;



        .logo{
            display: flex;
            align-items: center;
            gap: 20px;
            opacity: 0.2;

            img{
                width: 64px;
                height: 64px;
            }

            h1{
                font-size: 64px;
                background: linear-gradient(to right, blue,  red);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        .options{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            
        }
    }

    .formContainer{
        margin-top: auto;
    }
}